body{
    font-family: Titillium Web;
    overflow-x: hidden; 
}

/*****************NAVBAR****************/

.logo{
    margin-right: 20px;
}


.navbar .nav-link{
    font-size: 17px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff !important;

}

.navbar .nav-item.active{
    border-bottom: 1px solid #33dd08
}


/*****************CAROUSEL****************/

#showcase{
    margin-bottom: 100px;
}

.carousel-item{
    height: 400px;
    background-size: cover; 
}

.carousel-item img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}


/*************ICONS*********/

#home-icons{
    margin-bottom: 90px;
}

#home-icons img{
    width: 220px;
    height: 150px;
}


/*************SERVICES HOME PAGE*********/

.services{
    padding:20px 0 35px 0;
    margin-bottom: 70px;
    text-align: center;
    text-align: center;
    border-bottom: #b7e21d 3px solid;
    background-color: #f5f5f0;
}

.services-cards-background{
    background-color: #b7e21d;
}

.card-deck a{
    color: black;
}

a:visited{
    color:black;
  }

.card-title{
    text-decoration: underline;
}  


/*************VIDEO****************/

.video-container{
    position: relative;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}

.text-inside{
    background: url(../img/tiles-video.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    opacity: 0.7;
}

.text-inside h1{
    padding-top: 200px;
}

.video{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/***********CARDS*******************/

#cards-accomplishments .card-title{
    font-size: 3.5rem;
    font-weight: 400;
    padding-bottom: 10px;
    color: green;
    text-decoration: none;
    border-bottom: #33dd08 2px solid;
}

#cards-accomplishments .fas{
    font-size:2rem;
}

/*************FOOTER****************/

#footer-social{
    background: #b7e21d;
    padding: 0 50px !important;
}

.footer-copyright{
    background-color: #fff !important;
    padding-top: 30px !important;
}

.page-footer{
    background: #a4c7f3;
}

.button-socials{
        width: 50px;
        height: 50px;
        padding: 6px 0px;
        border-radius: 25px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
}

.page-footer img{
    height: 100px;
    width: 100px;
    
}
/************************************/
/***********OM OSS*******************/
/************************************/


#page-header{
    height: 300px;
    background: url("../img/omoss-header.jpg");
    border-bottom: 1px #b7e21d solid;
    background-repeat: round;
    padding-top: 50px;
}

.about-img{
    margin-top: -50px;
}

#container-staff{
    margin-top:90px;
    margin-bottom:90px;
}
#container-staff h1 {
    margin-bottom: 50px;
}


figure.staff {
    font-family: 'Roboto', Arial, sans-serif;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    background-color: #2C3447;
    padding: 30px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.staff *,
  figure.staff *:before,
  figure.staff *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  figure.staff figcaption {
    width: 100%;
  }
  figure.staff h2,
  figure.staff h4,
  figure.staff blockquote {
    margin: 0;
  }
  figure.staff h2,
  figure.staff h4 {
    font-weight: 300;
  }
  figure.staff h2 {
    color: #ffffff;
  }
  figure.staff h4 {
    color: #a6a6a6;
  }
  figure.staff blockquote {
    font-size: 1em;
    padding: 45px 20px 40px 50px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
  }
  figure.staff blockquote:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    font-style: normal;
    top: 0px;
    left: 20px;
  }
  figure.staff .profile {
    height: 113px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: solid 5px #A6A57A;
  }


/*****RETURN TO TOP BUTTON**********/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #b7e21d;
    
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}




/*************MEDIA QUERIES*********/

@media(max-width: 768px){
	.navbar .nav-item.active{
        border-bottom: none;
    }
}

